<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http use-expressions="true">
        <intercept-url pattern="/welcome.jsp" access="isAuthenticated()" />
        <intercept-url pattern="/private/**" access="hasRole('Managers')" />
        <intercept-url pattern="/**" access="permitAll" />
        <form-login login-page="/login.jsp" authentication-failure-url="/login-error.jsp" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="customer" password="customer" authorities="Customers" />
                <user name="manager" password="manager" authorities="Managers" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>