<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>OpenCSI Security demo application</display-name>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/loginfailed.html</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure pages</web-resource-name>
            <description> accessible by authorised users </description>
            <url-pattern>/private/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Only for managers</description>
            <role-name>Managers</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>